
<%= navigationBar(NavigationHelper::MLB_OVER_UNDERS_BUTTON) %>

<div class='row-fluid'>
  <div class='span2 center nexttoh1'>
    <img class='img_100_50' src='assets/mlb.gif' />
  </div>
  <div class='span8 center'>
    <h3>MLB Over/Unders <%= @currentYear %></h3>
  </div>
  <div class='span2 center nexttoh1'>
    <img class='img_100_50' src='assets/mlb.gif' />
  </div>
</div>


<div class='row-fluid'>
  <div class='span5 center'>
    <% if @betsEditable %>
      <!-- My Bets -->
      <h4>My Bets</h4>
      <table class='table table-striped table-bordered table-condensed center'>
        <thead>
          <tr>
            <th>MLB Team</th>
            <th>Line</th>
            <th>Prediction</th>
            <th>Bet Amount</th>
          </tr>
        </thead>
        <% @userBets.each do |bet| %>
          <tr>
            <td><%= bet.mlb_win.mlb_team.abbreviation %></td>
            <td><%= bet.mlb_win.line.to_s %></td>
            <td><%= bet.prediction %></td>
            <td><%= bet.amount.to_s %></td>
          </tr>
        <% end %>
      </table>
      <a class='btn btn-primary' href='mlbOverUnderBets'>Change My Bets</a><br/><br/>
    <% else %>
      <!-- MLB Standings -->
      <h4>MLB Standings</h4>
      <p>Updated on (<%= @standingsDate %>)</p>
      <%= division_standings_table("NL", "East", @currentYear, @teamToStandingsMap) %>
      <%= division_standings_table("NL", "Central", @currentYear, @teamToStandingsMap) %>
      <%= division_standings_table("NL", "West", @currentYear, @teamToStandingsMap) %>
      <%= division_standings_table("AL", "East", @currentYear, @teamToStandingsMap) %>
      <%= division_standings_table("AL", "Central", @currentYear, @teamToStandingsMap) %>
      <%= division_standings_table("AL", "West", @currentYear, @teamToStandingsMap) %>
    <% end %>
  </div>

  <div class='span7 center standings'>
    <% last_user_id = -1 %>
    <% first_user = true %>
    
    <!-- TODO Only show teams picks after season starts; before that just show user name -->
    <h4>Over/Under Standings</h4>
    <button id='expandBtn' type='button' class='btn btn-link'>
      <p>(expand all)</p>
    </button>
    <button id='collapseBtn' type='button' class='btn btn-link'>
      <p>(collapse all)</p>
    </button>
    <br/>

    <% 
      rank = 0
      last_points = 100000
    %>
    <!-- Show standings data, sorted by projected points, descending -->
    <% @userToBetsMap.sort_by { |k,v| v["points"] }.reverse.each do |user_data| %>
      <% 
        # If user has fewer points, decrement rank
        if last_points > user_data[1]["points"]
          rank += 1
          last_points = user_data[1]["points"]
        end
      %>
      <%= user_standings_link(user_data[0], rank, user_data[1]) %>
      <%= "<div id='user-collapse".html_safe + user_data[0].to_s + 
          "' class='collapse user-collapse " +
             (@user.id == user_data[0] ? "in" : "out") + "'>".html_safe %>
      <table class='table table-striped table-bordered table-condensed center'>
        <thead><tr>
          <th>MLB Team</th>
          <th>Prediction</th>
          <th>Line</th>
          <th>On Pace</th>
          <th>Result</th>
          <th>Bet Amount</th>
        </tr></thead>
        
        <% user_data[1]["bets"].each do |bet| %>
          <%= user_standings_row(bet, @teamToStandingsMap) %>
        <% end %>
      </table></div>
    <% end %>
    <br/>
  </div>
</div>

<script>
$('#expandBtn').click(function(){ 
    $('.user-collapse.out').collapse('show')
    $('.user-collapse').not('in').collapse('show')
});
$('#collapseBtn').click(function(){ 
    $('.user-collapse.in').collapse('hide')
});
</script>