
<%= navigationBar(NavigationHelper::ADMIN_NBA_PLAYOFF_MATCHUPS_BUTTON) %>

<div class='row-fluid'><div class='span12 center'>
<h3>Manage <%= @currentYear %> NBA Playoffs</h3>

<%= showNoticeAsAlert(notice) %>

<h4>Manage Scoring Formula</h4>
<table class='table table-striped table-bordered table-condensed center'>
  <thead><tr>
    <th>Round</th>
    <th>Points</th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr></thead>

<% @nba_playoff_scores.each do |nba_playoff_score| %>
  <tr>
    <td><%= nba_playoff_score.round %></td>
    <td><%= nba_playoff_score.points %></td>
    <td><%= nba_playoff_score.name %></td>
    <td><%= link_to 'Edit', edit_nba_playoff_score_path(nba_playoff_score) %></td>
    <td><%= link_to 'Destroy', nba_playoff_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= admin_round_table(@currentYear, 1) %>
<%= admin_round_table(@currentYear, 2) %>
<%= admin_round_table(@currentYear, 3) %>
<%= admin_round_table(@currentYear, 4) %>

<br />

<%= link_to 'Create new matchup', new_nba_playoff_matchup_path, class:'btn' %>
<br/><br/>
</div></div>
