
<%= navigationBar(NavigationHelper::ADMIN_NBA_PLAYOFF_MATCHUPS_BUTTON) %>

<div class='row-fluid'><div class='span12 center'>
<h3>Manage <%= @currentYear %> NBA Playoffs</h3>

<%= showNoticeAsAlert(notice) %>

<%= admin_round_table(@currentYear, 1) %>
<%= admin_round_table(@currentYear, 2) %>
<%= admin_round_table(@currentYear, 3) %>
<%= admin_round_table(@currentYear, 4) %>

<br />

<%= link_to 'Create new matchup', new_nba_playoff_matchup_path, class:'btn' %>
<br/><br/>
</div></div>
