<h1>Listing nba_playoff_scores</h1>

<table>
  <tr>
    <th>Round</th>
    <th>Points</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nba_playoff_scores.each do |nba_playoff_score| %>
  <tr>
    <td><%= nba_playoff_score.round %></td>
    <td><%= nba_playoff_score.points %></td>
    <td><%= nba_playoff_score.name %></td>
    <td><%= link_to 'Show', nba_playoff_score %></td>
    <td><%= link_to 'Edit', edit_nba_playoff_score_path(nba_playoff_score) %></td>
    <td><%= link_to 'Destroy', nba_playoff_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Nba playoff score', new_nba_playoff_score_path %>
