<p id="notice"><%= notice %></p>

<p>
  <b>City:</b>
  <%= @mlb_team.city %>
</p>

<p>
  <b>Name:</b>
  <%= @mlb_team.name %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @mlb_team.abbreviation %>
</p>

<p>
  <b>League:</b>
  <%= @mlb_team.league %>
</p>

<p>
  <b>Division:</b>
  <%= @mlb_team.division %>
</p>


<%= link_to 'Edit', edit_mlb_team_path(@mlb_team) %> |
<%= link_to 'Back', mlb_teams_path %>
<br/><br/>
<%= link_to 'New Mlb team', new_mlb_team_path, class: 'btn' %>

