
<%= navigationBar(NavigationHelper::ADMIN_MLB_WINS_BUTTON) %>

<div class='row-fluid'><div class='span12 center'>

<h3>Manage MLB Over/Unders</h3>

<table class='table table-striped table-bordered table-condensed center'>
  <thead><tr>
  	<th>Team</th>
    <th>Year</th>
    <th>Over/Under</th>
    <th>Actual</th>
    <th></th>
    <th></th>
    <th></th>
  </tr></thead>

<% @mlb_wins.each do |mlb_win| %>
  <tr>
    <td><%= link_to mlb_win.mlb_team.abbreviation, mlb_win.mlb_team %></td>
    <td><%= mlb_win.year %></td>
    <td><%= mlb_win.line %></td>
    <td><%= mlb_win.actual %></td>
    <td><%= link_to 'Show', mlb_win %></td>
    <td><%= link_to 'Edit', edit_mlb_win_path(mlb_win) %></td>
    <td><%= link_to 'Destroy', mlb_win, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create MLB Over/Under', new_mlb_win_path, class: 'btn' %>
<br/><br/>

</div></div>